body {
    background-color: rgb(244 244 244);
}

img {
    width: 33.33%;
    height: 20dvh;
    float: inline-start;
    vertical-align: top;
    object-fit: fill;
}

#top-images {
    height: 20vh;
    outline: 10px inset darkred;
    border: 10px double rgb(167, 96, 11);
    background-color: darkgray;
}

h1 {
    text-align: center;
    color: darkred;
    font-size: 48px;
}

.divClass {

}

#middle-paragraph {
    text-align: center;
    color: darkred;
    position: relative;
    width: 50%;
    left: 25%;
}